.button-container {
  text-align: center;
}

form,
.button-container p {
  margin-top: 1rem;
}

label {
  font-weight: bold;
  margin-bottom: 0.7rem;
}

input {
  padding: 0.6em;
  border: none;
  width: 250px;
  margin-left: 0.3rem;
}

input:focus {
  outline: 2px solid var(--clr-primary-color);
}

.active {
  visibility: visible;
}

.inactive {
  visibility: hidden;
}

@media only screen and (max-width: 480px) {
  input {
    margin-left: 0rem;
  }
}
